FROM {{ item.from }}

MAINTAINER Infonova DevOpSS <dev_opss@infonova.com>

# Set Timezone
RUN rm /etc/localtime && ln -s /usr/share/zoneinfo/Europe/Vienna /etc/localtime

ENV _JAVA_OPTIONS -Djava.net.preferIPv4Stack=true
ENV LC_ALL en_US.UTF-8

# install EPEL repository
{% if item.from == "centos:centos6" %}
RUN curl \
        http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm \
        -o epel-release.rpm && \
        rpm -Uvh epel-release.rpm && \
        rm epel-release.rpm
{% endif %}

{% if item.from == "centos:centos7" %}
RUN curl \
        http://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-5.noarch.rpm \
        -o epel-release.rpm && \
        rpm -Uvh epel-release.rpm && \
        rm epel-release.rpm
{% endif %}

# install Ansible
RUN yum install -y \
        gcc \
        python-devel \
        python-pip && \
    pip install ansible

# setup slave
COPY playbook/{{ item.name }} /setup
RUN ansible-playbook -i /setup/localhost /setup/setup.yml && \
    rm -rf /setup

WORKDIR /home/jenkins

CMD ./init.sh && exec /bin/bash
